<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpsk1.triper">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/main_xxxhdpi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_xxxhdpi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.gpsk1.triper.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".SignupActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".chat.MessageActivity" />
        <activity android:name=".FilterActivity"
            android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>